body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

article {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
}

.background {
  background: #d7d7d7;
}
