<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(locals.users && locals.users.length) { %>
      <% for(let user of users) { %>
        <%- include('partials/user.ejs', {user: user}) %>
        <% } %>
    <% }  else { %>
      <p>Não existem usuários cadastrados.</p>
    <% } %>
  </body>
</html>
